* {
    margin: 0;
}

.header {
    height: 32px;
    background-color:cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > div {
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

.welcome {
    padding: 5px;
    color: #FAF8F5;
}

.social > ul {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social > ul > li {
    list-style: none;
    padding-left: 10px;
}

.social-img {
    height: 20px;
    width: 20px;
}

.logo {
    height: 45px;
    width: 45px;
    padding-left: 20px;
}

.nav {
    height: 64px;
    background-color: #2260bf;
    display: flex;
    align-items: center;
    justify-content:center;
}

.nav > div {
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

.ul-nav {
    width: 170px;
    padding-top: 15px;
    font-size: large;
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-between;
}

.ul-nav > li > a {
    color: white;
    text-decoration: none;
}

.overview {
    height: 500px;
    width: auto;
    background-image: url("assets/mt-everest-NPL.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overview > div {
    height:100px;
    width: 300px;
    padding: 10px;
    color:white;
    background-color: #8CB2E1;
    border-radius: 10px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

.hr-overview {
    width:90%;
    text-align:center;
}

.posts-section {
    height: auto;
    background-color:#3DA5DB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posts-latest {
    width: 1024px;
    height: 100%;
}

.posts-latest > h3 {
    margin-top: 32px;
    margin-bottom: 10px;
    color: #FAF8F5;
}

.posts-latest > hr {
    margin-bottom: 10px;
}

.posts-div {
    width: 100%;
    height: auto;
    margin-top: 8px;
    display: flex;
    justify-content:space-between;
}

.posts{
    width: 70%;
    }

.post {
    height: auto;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color:#8BB8EB;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.post-img {
    height: auto;
    max-width: 200px;
    margin-right: 10px;
}

.calendar {
    margin-bottom: 10px;
}

.read-more {
    display: flex;
    justify-content: right;
}

.read-more > a {
    margin-top: 24px;
    height: 24px;
    width: 100px;
    color:black;
    background-color:#5BB4DC;
    text-decoration: none;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.read-by {
    width: 26%;
}

.read-by > div {
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.read-by > div > ul {
    margin-top: 10px;
}

.read-by-country {
    background-color: #74B7DB;
}

.read-by-date {
    background-color: #5BB4DC;
}

.recommendation {
    margin-bottom: 24px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recon {
    width: 1024px;
}

.recon > h3 {
    margin-top: 32px;
    margin-bottom: 10px;
}

.recon > hr {
    margin-bottom: 10px;
}

.destiny {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.destiny > div {
    height: 390px;
    width: 24%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-destiny {
    max-width: 100%;
}

.destination {
    padding: 10px;
}

.destination-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.description {
    height: 90px;
    width: 100%;
}

.more-detail {
    height: 24px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    text-decoration: none;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #5BB4DC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe {
    height: 128px;
    background-color: lightseagreen;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribe > h3 {
    margin-bottom: 16px;;
}

input {
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.footer {
    height: 64px;
    background-color: #526AEB;
    color: white;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
}
