* {
    margin: 0;
}

.header {
    height: 32px;
    background-color:cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > div {
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

.icon > i {
    padding-left: 10px;
}

.nav {
    height: 64px;
    background-color:steelblue;
    display: flex;
    align-items: center;
    justify-content:center;
}

.nav > div {
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

.nav > div > ul {
    width: 150px;
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-between;
}

.overview {
    height: 500px;
    background: url("assets/Great\ Wall\ CH.jpg");
    object-fit:fill;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overview > div {
    height:100px;
    width: 300px;
    padding: 10px;
    color: white;
    /* background-color:lightslategray; */
    /* background-color: #6DA5E0; */
    background-color: #8CB2E1;
    border-radius: 10px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

.hr-overview {
    width:90%;
    text-align:center;
}

.section-posts {
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest-posts {
    width: 1024px;
    height: auto;
}

.latest-posts > h3 {
    margin-top: 32px;
    margin-bottom: 10px;
}

.latest-posts > hr {
    margin-bottom: 10px;
}

.posts-div {
    width: 100%;
    height: auto;
    margin-top: 8px;
    display: flex;
    justify-content:space-between;
}

.posts{
    width: 70%;
    }

.posts > div {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-color:darkgray;
    display: flex;
    flex-direction: row !important;
}

.post {
    padding: 10px;
}

.post-img {
    height: auto;
    max-width: 200px;
    margin-right: 10px;
}
.calendar {
    margin-bottom: 10px;
}

.span-post {
    margin-top: 24px;
    height: 24px;
    width: 100px;
    border-radius: 5px;
}

.read-by {
    width: 30%;
}

.read-by > div {
    background-color:chocolate;
    border-radius: 10px;
}

.recommendation {
    background-color: lightsteelblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recon {
    width: 1024px;
}

.recon > h3 {
    margin-top: 32px;
    margin-bottom: 10px;
}

.recon > hr {
    margin-bottom: 10px;
}

.destiny {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.destiny > div {
    height: auto;
    width: 240px;
}

.img-destiny {
    height: auto;
    max-width: 100%;
}

span {
    width: 100%;
    border: 1px solid;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe {
    height: 128px;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 64px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}