* {
    margin: 0;
}

.header {
    height: 32px;
    background-color:cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > div {
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

.nav {
    height: 64px;
    background-color:steelblue;
    display: flex;
    align-items: center;
    justify-content:center;
}

.nav > div {
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

ul {
    width: 150px;
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-between;
}

.overview {
    height: 500px;
    background: url("assets/Great\ Wall\ CH.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.overview > div {
    height:100px;
    width: 300px;
    padding: 10px;
    background-color:lightslategray;
    border-radius: 10px;
    opacity: 0.;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

.recommendation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recon {
    width: 1024px;
}

.subscribe {
    height: 128px;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 64px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}